* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px;
}
header {
  background-color: aquamarine;
}
.content {
  text-align: left;
  line-height: 3rem;
}
section {
  background-color: rgb(203, 241, 241);
  min-height: calc(100vh - 5rem);
}
a {
  text-decoration: none;
  color: rgb(83, 4, 4);
}
a:hover {
  text-transform: uppercase;
  font-weight: bold;
  color: crimson;
}
ul {
  list-style-type: square;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 5rem;
  background-color: crimson;
  width: 100vw;
  font-size: 3rem;
  padding: 0.5rem;
  text-align: center;
}
